img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
} 

body
{
    background-color: #99ccff;	

}

p.itemName
{
	font-size: 20pt;
	text-align: center;

}

p.itemPrice
{
	font-size: 15pt;
	text-align: center;

}

table, tr, td 
{
	border: 1px solid black;
}

.itemBlock
{
    float: left;
    width: 30%;
    height: 65%;
    margin: 10px;

	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-left: 1%;
	padding-right: 2%;

}

.completeOrderBlock
{
	clear: left;


}


